<!DOCTYPE html>
<html ng-app="okan">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="@Url.Content("~/Assets/img/favicon.ico")">
    <title>Okan</title>

     @Styles.Render("~/Assets/css/okan")
</head>

<body>

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">:)</a>
    </nav>

    <div class="container" ng-controller="main as vm">
        @RenderBody()

        <hr>

        <footer>
            <p>&copy; @DateTime.Now.Year - Okan</p>
        </footer>
    </div>

    @Scripts.Render("~/Assets/js/okan")

</body>

</html>
